<h1>Lets Eat Some Burgers!</h1>

<h2>Uneaten burgers!</h2>

<ul>
  {{#each burger}}
    {{#unless this.devoured}}
      {{this.burger_name}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been eaten!</h2>

<ul>
  {{#each burger}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<p>{{data}}</p>

<form action="/api/burger" method="POST">
	<textarea type="text" name="newBurger" id="newBurger"></textarea>
	<button type="submit" id="submit">Submit your new burger</button>
</form>

<script>
// $(".submit").on("click", function (event){
// 	event.preventDefault();

// 	var burger_name = $("#newBurger").val().trim();

// 	console.log("YOOO"+burger_name);


// 	$.ajax("/api/burger", {
// 		type: "POST",
// 		data: burger_name
// 	}).then(function (data){
// 		console.log(data);
// 		location.reload();
// 	});
// });

</script>